.repl {
	box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 2px 0;
    position: relative;
    padding: 25px 14px 0;
}

.repl .column1 {
    background-color: #86e6ff;
    border: 1px solid #337ab7;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 10px 10px;
    position: relative;
    height: 43px;
}

.repl .column2 {
    background-color: #f1ede8;
    border: 1px solid #337ab7;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 5.5px 4px;
    position: relative;
}

.repl .column2 input{
  width:635px;
  height:30px;
  font-size:20px;
}

.replAddBtn1 {
	padding: 8px 31px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 14px;	
}

