@charset "utf-8";


article{
    box-sizing: border-box;
}
article div{
    margin: 0;
    padding: 0;
}
article .row{
    width: 100%;
}
.itdrow {
    position: relative;
}
.col-md-12>.drow{
	
    width: 47%;
    height: 150px;
    display: inline-block;
    float: left;
    margin: 10px;
    border-top: 4px solid cadetblue;
    
}

.drow img{
    width: 100%;
    height: 60%;
}
.drow>div{
    height: 150px;
}
.drow h3{
    line-height: 100%;
}
.like-count{
    margin: 5px 0;
    text-align: center;
}
.reple-count{
    text-align: center;
}

.searchSel {
    height: 25px;
}
