/*전체부분*/
.board_box
{
    border-bottom: 1px solid silver;
    padding-bottom: 30px;
}
/*글쓰기 부분*/
.btns_list{
	float: right;
	width:68px;
}

.board_modify:hover
{
	cursor:pointer;
}
.board_delete:hover
{
	cursor:pointer;
}
.brecount:hover
{
	cursor:pointer;
}
/*top 부분*/
.board_top
{
    margin: 0px;
    padding: 0px;
}

.top_left
{
    float: left;
    
}

.top_left p
{
    float:left;
}

.top_left p img
{
    width: 60px;
    height: 60px;  
}

.profile
{
    float:left;
    margin-top:5px;
    margin-left:8px;
}

.top_right
{
    float: right;   
}
.trash
{
    padding-left: 10px;
}

/*bottom 부분*/
.bottom_left1
{
    float: left;    
}

.bottom_left1 div
{
    display: inline-block;
}

.bottom_left1 h6
{
    display: inline-block;
}

.bottom_right1
{
    float: right;
}

.row_area
{
    margin: 0px;
    padding: 0px;
}

.row_submit
{
    margin-left: 0px;
    padding:auto;
}

.form_area
{
    margin-left: 10px;
}

/*reply*/

.reply_content
{
    margin-left: 70px;
    margin-top: 20px;
    display : none;
}

.reply_profile
{
    float: left;
}

.reply_profile p img
{
    width: 30px;
    height: 30px;  
}

.reply_left
{
    float:left;
}

.reply_right
{
    float:right;
}
.reply
{
    background-color: silver;
    width: 890px;
    float: right;
    padding: 10px;
}

.reply_title h5
{
    float:left;
    font-weight: bold;
}

.reply_title h6
{
    float:left;
    margin-left: 10px;
}

.clear
{
    clear:both;   
}
