@charset "UTF-8";
.loginBox{
    width: 400px;
    margin: 100px auto 0px;
}
.loginLogo{
    text-align: center;

}
.loginLogoImg{
    width: 350px;
}
.login_inputBox{
    width: 400px;
    margin: 3% auto 0;
}
.login_inputInner{
    width: 400px;
}
.login_inputBox label{
    display: none;
}
.login_inputBox label.login_keep_chek{
   display: inline-block;
   font-size: 12px;
    color: #222;
}
.login_input{
    width: 347px;
    height: 29px;
    margin: 0 0 14px;
    padding: 10px 35px 10px 15px;
    border: solid 1px #dadada;
    background: #fff;
}
.login_btn1{
    width: 400px;
    margin: 0 0 14px;
    padding: 17px 35px 17px 35px;
    border: solid 1px #dadada;
    background: #232323;
    cursor: pointer;
    color: white;
}


.login_footer{
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ececec;
    margin-top: 20px;
}
.login_footTxt{
    display: inline-block;
}
.login_footTxt > a{
    font-size: 12px;
    font-size: 12px;
    line-height: 13px;
    color: #8e8e8e;
}




